
#login-form {
  width: 340px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 4px;
}

#login-form table {
  margin:0;
  padding: 0;
  background: inherit;
  border:none;
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
#login-form table tbody tr td:first-child {
  text-align: left !important;
}
#login-form table tbody tr td:last-child {
  width: 70%;
}

#login-form table tbody tr td {
  padding:.375rem;
}

#login-form table a {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 90%;
}

#login-form table label {
  margin: 0;
}

#wrapper #login-form table td input {
  margin: 0;
}

div.members h3 {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ddd' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 32px;
}

div.projects h3 {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ddd' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M11.15 3.4L7.43 9.48c-.41.66.07 1.52.85 1.52h7.43c.78 0 1.26-.86.85-1.52L12.85 3.4c-.39-.64-1.31-.64-1.7 0z'/%3E%3Ccircle cx='17.5' cy='17.5' r='4.5'/%3E%3Cpath d='M4 21.5h6c.55 0 1-.45 1-1v-6c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1z'/%3E%3C/svg%3E"); 
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 32px;
}

div.issues h3 {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ddd' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 32px;
}

div.news h3 {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ddd' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 32px;
}

dt.issue-note {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ddd' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 32px !important;
}

h3.version {
  background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23ddd' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M11.99 18.54l-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 32px;
}

.contextual .icon-lock {
  background-repeat: no-repeat;
  background-position: 6px 50%;
}

table.list td {
  vertical-align: middle;
}

#projects-index ul.projects ul.projects {
  border: none;
  padding: 0;
}

#projects-index ul.projects li.child {
  margin: 0 0 .5rem;
}

.my-project {
  padding-left: 18px;
  background: url("data:image/svg+xml,%3Csvg fill='%23ffcf3d' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z'/%3E%3Cpath fill='none' d='M0 0h18v18H0z'/%3E%3C/svg%3E") no-repeat 0 50%;
  background-size: auto !important;
}



/* redmine-3.2.1 */
#header #main-menu .new-issue { background: transparent; padding-left: 0 !important;  }
