div.issue {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

div.issue h3 {
  margin: 0;
  padding: 0;
}

.journal {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

.journal .icon-only {
  padding-left: 16px;
  height: 16px;
  border:none;
  text-indent: -99999px;
  font-size: 0;
  background-size: 16px;
  background-position: 0;
}

.journal > div > div > p:last-child {
  margin:0;
}